<div class="row justify-content-center">
  <div class="bg-light col-lg-6 col-md-8 px-5 py-3 rounded-5">
    <h2>Редактирование профиля</h2>

    <div class="row">
      <div class="col-lg-7 col-md-10 buffer-top">
        <%= render 'form' %>
        
        <p class="buffer-top">
          <%= link_to 'Сменить пароль', edit_user_registration_path %>
        </p>
      </div>
    </div>
  </div>
</div>
