<div class="text-center">
  <h1>События</h1>

  <div class="buffer-both">
    <%= link_to t("views.event.create"), new_event_path, class: "btn btn-primary" %>
  </div>

  <div class="row buffer-bottom">
    <%= render partial: "events/event", collection: @events %>
  </div>
</div>
