<div class="row justify-content-center">
  <div class="col-8 buffer-bottom row bg-light rounded-5 px-5">  
    <h1 class="text-center"><%= I18n.t("views.event.create") %></h1>

    <div class="row justify-content-center">
      <div class="col-md-6 buffer-top">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>  
