<div class="row justify-content-center">
  <div class="bg-light col-lg-6 col-md-8 px-5 py-3 rounded-5">
    <h1>Доступ только по пин-коду</h1>

    <%= form_tag("", method: "post") do |f| %>
      <div class="form-group my-3 col-5">
        <i class="icon-key mx-1"></i>
        <%= text_field_tag :pincode, params[:pincode], class: "form-control my-3" %>
      </div>

      <div class="actions my-3">
        <%= submit_tag "Отправить!", class: "btn btn-primary", data: { turbo: false } %>
      </div>
    <% end %>

    <%= link_to "На главную", events_path %>
  </div>
</div>
