default: &default
  pool: 5
  encoding: unicode

development:
  <<: *default
  database: bbq

test:
  <<: *default
  database: bbq_test

production:
  <<: *default
  adapter: postgresql
  host: localhost
  port: 5432
  database: bbq
  user: bbq
  password: <%= ENV["PASSWORD_DATABASE_USER"] %>