<div class="buffer-bottom row bg-light rounded-5 px-5">
  <div class="col-md-10">
    <div class="event-photo buffer-both">
      <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, class: "mx-2" %>

      <%= I18n.t("views.photo.added") %> <%= render partial: 'users/user', object: photo.user %>
    </div>
  </div>

  <div class="col-md-1 mt-md-5 mb-1 text-center">
    <% if current_user_can_edit?(photo) %>
      <%= button_to "", 
        event_photo_path(photo.event, photo), 
        method: :delete, 
        class: "btn btn-danger icon-trash", 
        form: {
          data: {
            turbo: false,
            controller: "confirmation",
            action: 'submit->confirmation#confirm',
            confirmation_message_value: t("confirmation.messages.photo"),
          }
        }
      %>
    <% end %>
  </div>
</div>
