body {
  background-image: url("https://oir.mobi/uploads/posts/2021-03/1616967146_6-p-svetlo-serii-fon-6.jpg");
  background-size: cover;
  min-height: 100vh;
}

.user-avatar .img-icon {
  margin-top: -2px;
  height: 40px;
}
